# m h  dom mon dow   command
@reboot /home/trick/station/startup-modem-manager.py 2>&1 | tee -a /dev/shm/startup-modem-manager.log

# proved to be unreliable?
@reboot /home/trick/station/wifi-handler-service.py 2>&1 | tee -a /dev/shm/wifi-handler-service.log

# why we're here:
#00 * * * * /home/trick/station/post-image.py 2>&1
25 * * * * /home/trick/station/post-image-ppp.py 2>&1
42 * * * * /home/trick/station/beacon.py 2>&1

*/60 * * * * $HOME/station/clean-mail > /dev/null 2>&1

# i think this was a power save hack?
#@reboot /usr/bin/tvservice -o


# the ssh way, only for wifi
#*/20 * * * * /home/trick/station/quick.sh
